<!DOCTYPE html>
<html class="no-js" lang="pt-BR" xml:lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript">
      // to identify if javascript is active
      var tagHtml = document.getElementsByTagName("html")[0];
          tagHtml.className = tagHtml.className.replace('no-js', 'js');
    </script>
  </head>
  <body>
    <dl>
    <% for(var i = 0, len = foods.length; i < len; i++) {%>
      <dt><%= foods[i].name %></dt>
      <dd><%= foods[i].calorie %> de calorias</dd>
      <dd><%= foods[i].protein %> de proteínas</dd>
      <dd><%= foods[i].carbohydrate %> de carboidratos</dd>
      <dd><%= foods[i].fat %> de gorduras</dd>
      <dd><%= foods[i].sodium %> de sódio</dd>
      <dd><%= foods[i].potassium %> de potássio</dd>
      <dd><%= foods[i].cholesterol %> de colesterol</dd>
    <% } %>
    </dl>

    <div id="app"></div>

    <script src="/static/js/scripts.min.js"></script>
  </body>
</html>
